<div class="login">
  <div class="container">
    <div class="login-form input" [formGroup]="formLogin">
      <div class="col-md-12 text-center">
        <h2>Login</h2>
      </div>

      <div class="col-md-6">
        <label>Email </label>
        <input type="text" placeholder="Digite o seu email" formControlName="username">
      </div>

      <div class="col-md-6">
        <label>Senha</label>
        <div class="field-wrapper">
          <input [type]="isTextField ? 'text': 'password'" formControlName="password" placeholder="Digite a sua senha" autocomplete="off">
          <button type="button" [class]="isTextField ? 'btn-icon eye': 'btn-icon eye-slash'" (click)="showPassword()" tabindex="-1">
          </button>
        </div>
      </div>

      <div>
        <button class="btn btn-custom default" (click)="loginClient()" [routerLink]="['/home']" [disabled]="formLogin.invalid"
          [class]="formLogin.invalid ? 'btn btn-custom disable ' : 'btn btn-custom default'">
          Entrar
        </button>
      </div>

      <div class="forgot-pass">
        <a [routerLink]="['']">
          Esqueci a senha
        </a>
      </div>

      <div class="register-box">
        <div>
          Não tem cadastro?
        </div>
        <button class="btn-bottom" [routerLink]="['/auth/cadastro-cliente']">
          Cadastre-se
        </button>


      </div>

    </div>
  </div>
</div>

<!-- <app-modal id="modal-erro-login">
  <div class="modal-header">
        <ng-content></ng-content>
        <h5>Senha ou usuário Inválido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('modal-erro-login')" data-dismiss="modal">Close</button>
      </div>
</app-modal> -->

<!-- <app-modal  id="modal-erro-login">

  <h2>Opps!</h2>
  <p>Usuário e/ou senha inválido(s)</p>
  <div class="modal-footer">
    <button type="button" class="btn-custom btn-block default" (click)="closeModal('modal-erro-login')">
      Tentar novamente
    </button>
  </div>
</app-modal> -->
