<h2>Análise de Agendamento</h2>

<div class="col-md-12">
  <div class="col-md-12">
    <h3>Lista de Pedidos</h3>
  </div>
  <table class="styled-table col-md-10">
    <thead>
        <tr>
            <th>Pet</th>
            <th>Dono</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Duração</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dom</td>
            <td>6000</td>
            <td>Dom</td>
            <td>6000</td>
            <td>Dom</td>
            <td>6000</td>
        </tr>
        <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
            <td>Dom</td>
            <td>6000</td>
            <td>Dom</td>
            <td>6000</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
  <div>
    {{approveHosting()}}
  </div>
</div>