<div class="hosting" [formGroup]="formMessage">
    <div class="container">
      <div class="hosting-details">
          <label>Acompanhamento da estadia</label>
      </div>
          <label>Chat com o cuidador</label>

          <!-- <div class="messaging"> -->
            <div class="inbox_msg">
              <div class="mesgs">
                <div class="msg_history">
                  <ng-container *ngFor="let message of messageList">
                  <!-- <ul> -->
                    <div class="message" >
                      <h6> {{ message.user }} - {{ message.data }}</h6>
                      <div class="incoming_msg_img">
                        <!-- <h5>Laís</h5> -->
                          <h6> {{message.user}}- {{message.data}}</h6>
                      </div>

                      <div class="incoming_msg">
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <!-- <p>{{ message.content}}</p> -->
                            <p>{{message.content}}<p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </ul> -->
                </ng-container>
                </div>
                <div class="row g-3" >
                  <div class="input-group">
                      <textarea class="form-control" formControlName="content"
                      [(ngModel)]="newMessage" ></textarea>
                  </div>
                  <div>
                    <button type='button' class="btn btn-custom default" (click)="sendMessage()">
                      Enviar
                    </button>
                  </div>

              </div>

              </div>

            </div>
          <!-- </div> -->
  </div>
</div>

