<div class="container">
    <div class="hosting-details">
        <h1>Acompanhamento de Estadia</h1>
        <h2>Detalhes</h2>
        <!-- <p>{{hosting | json}}</p> -->


    </div>
    <div class="chat-section">
        <h2>Chat com o cuidador</h2>
        <div class="chat-area">
            <div *ngFor="let message of messageList">
                {{message}}
            </div>
        </div>
        <div class="user-interaction text-right">
            <div class="input-group">
                <textarea class="form-control"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-sm float-right">Enviar</button>
        </div>
    </div>
</div>