.container {
    height: 100%;
    border: 2px solid #A7CD2C;
    border-radius: 8px;
    padding: 20px 30px;
    width: 50%;
    min-width: 600px;
}

.hosting-details {

}

.chat-section {
    /* padding: 0 15px; */
}

.chat-area {

    height: 100px;
}

.user-interaction {
    
}