.pet-register{
  justify-content: center;
  min-width: 550px;
}

.register-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 35px;
  /* background: #daf1ec; */
}

.form-input {
  justify-content: left;
  display: flex;
}

.form-input .col-md-4 {
  margin-right: 30px;
}

.register-form label {
  margin-top: 15px;
  width: 100%;
  font-weight: 500;
  color:black;
  line-height: 1;
  text-align: left;
}

.register-form input:not([type='radio']) {
  width: 100%;
  height: 48px;
  background-color: #f5fff7;
  border: 1px solid #bada5f;
  border-radius: 4px;
  outline: none;
}

.register-form input[type='radio']{
  border: 1px solid #bada5f;
  border-radius: 4px;
  /* background-color:rgb(249, 253, 237); */
  /* background:rgb(249, 253, 237); */
}
.register-form input[type='radio']:checked{
  background-color:black;
}

.register-form textarea {
  border: 1px solid #bada5f;
  border-radius: 4px;
}

.container{
  width: 90%;
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #bada5f;
  border-radius: 10px;
  padding: 10px 0 35px 0;
  margin-bottom: 60px;
  margin-top: 5%;
}

h2 {
  padding: 25px 0 50px 0;
}

.form-select{
  border: 1px solid #bada5f;
  background-color: #f5fff7;
  width: 100%;
  height: 46px;
}

[class*='icone-']:before{
  display: inline-block;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.field-wrapper {
  display: flex;
  align-content: flex-end;
  width: 80%;
  /* min-width: 500px; */
}

.field-wrapper input {
  display: flex;
  width: 100%;
}

.btn-icon{
  display: flex;
  height: 50px;
  width: 50px;
  right: 50px;
  position: relative;
  border: none;
  background-color: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.btn {
  background-color: #bada5f;
  margin-top: 30px;
  float: right;
}
