<div class = "services">
    <div class = "register" [formGroup]="formServiceRegister">
        <h4>Registrar Serviço</h4>
        <div class = "name">
            <label>Nome</label>
            <input type="text" formControlName="name">
        </div>
        
        <div class = "descrition">
            <label>Descrição</label>
            <textarea type="text" formControlName="descrition"></textarea>
        </div>
        
        <div class = "cost">
            <label>Preço</label>
            <input type="number" formControlName="cost">
        </div>

        <button class ="btn" (click)="registerService()" [disabled]="formServiceRegister.invalid"
        [class]="formServiceRegister.invalid ? 'disabled ' : 'default'">
        Registrar
        </button>
    </div>

    <div class = "views">
        <h4>Serviços Registrados</h4>
        <div *ngIf= "servicesList.length > 0">
            <ul>
                <li class="servicesList" *ngFor="let service of servicesList">
                    <td>{{service.name}} - {{service.descrition}} - {{service.cost}}</td>
                    <button class="btn-2"(click)="deleteService(service)">Excluir</button>
                </li>
            </ul>
        </div>

        <div *ngIf= "servicesList.length === 0">
            <h5 style="text-align: center;">Ainda não há serviços cadastrados.</h5>
        </div>
    </div>
</div>
