.container {
  width: 90%;
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #BADA5F;
  border-radius: 10px;
  padding: 10px 0 35px 0;
  margin-bottom: 60px;
  padding: 25px;
  margin-top: 2%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #BADA5F;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: thin solid #BADA5F;
}

.modal-xl {
  top: 500px;
}
