
<div *ngIf="header==0" class="navbar-container area">
  <div class ="container">
  <nav class="area navbar navbar-expand-lg ">
    <a class="navbar-img navbar-brand" >
        <img src="../../assets/images/logo-transparente-p.png" alt="Pousada Animal" height="15%" width="15%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLink]="['/home']" routerLinkActive="header-link-active">
          <a class="nav-link" >Home
            <!-- <span class="sr-only">(página atual)</span> -->
          </a>
        </li>
        <li class="nav-item" [routerLink]="['/auth/login']" routerLinkActive="header-link-active">
          <a class="nav-link" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">Serviços</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li> -->
      </ul>
    </div>
  </nav>
  </div>
  </div>


  <div *ngIf="header==1" class="navbar-container user">
    <div class ="container">
    <nav class="user navbar navbar-expand-lg ">
      <a class="navbar-img navbar-brand" >
          <img src="../../assets/images/logo-transparente-p.png" alt="Pousada Animal" height="15%" width="15%">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" [routerLink]="['/user-area/home-user']" routerLinkActive="header-link-active">
            <a class="nav-link" >Área do Usuário
              <!-- <span class="sr-only">(página atual)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user-area/cadastro-pet']">Registrar Pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user-area/hosting']">Hospedar Pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    </div>

    <div *ngIf="header==2" class="admin navbar-container">
      <div class ="container">
      <nav class="admin navbar navbar-expand-lg ">
        <a class="navbar-img navbar-brand" >
            <img src="../../assets/images/logo-transparente-p.png" alt="Pousada Animal" height="15%" width="15%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" [routerLink]="['/admin-area/home-admin']" routerLinkActive="header-link-active">
              <a class="nav-link" >Página do Administrador
                <!-- <span class="sr-only">(página atual)</span> -->
              </a>
            </li>
            <li class="nav-item active" [routerLink]="['/admin-area/hosting-analysis']" routerLinkActive="header-link-active">
              <a class="nav-link" >Análise de Agendamentos
                <!-- <span class="sr-only">(página atual)</span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      </div>
      </div>

