<div class="homeUserArea">
    <div class="register-form" [formGroup]="formHome">
        <div class="header">
            <div class="banner"></div>
            <div class="icon">
            </div>
            <ul>
                <div class="edit" >
                    <button class="edit-bottom" href="#">Editar Perfil</button>
                </div>
            </ul>
            <div class="name">
                {{user.first_name + " " + user.last_name}}
            </div>
            <div class="bio">
                <p>Seja bem-vindo!</p>
            </div>
            <div class="line"></div>
            <div class="pets-descrition">
                <h2 style="text-align:center;">Seus Pets</h2>
                <li *ngFor="let pet of petList">
                    <td class="pet">{{pet.name}}</td>
                    <td>{{pet.species}}</td>
                    <td>{{pet.breed}}</td>
                </li>
            </div>
        </div>
        <div class="navbar-right">
            <ul>
                <li class="nav-item" >
                    <a class="nav-link" href="#">Seus Pets</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" [routerLink]="['/user-area/cadastro-pet']">Registrar Pet</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" [routerLink]="['/user-area/hosting']">Hospedar Pet</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="#">Status do Pet</a>
                </li>
            </ul>
        </div>
    </div>
</div>

