.header{
    height: 800px;
}

.banner{
    margin-top: -4.6%;
    height: 200px;
    width: 100%;
    background-color: powderblue;
}

.icon{
    margin-top: -7%;
    margin-left: 7%;
    border-radius: 75px;
    background: #73AD21;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-image: url(./assets/icon.jpg);
}

.edit{
    margin-top: -3%;
    margin-left: 80%;
    border-radius: 4px;
}

.edit-bottom{
    background-color: white;
    border: 2px solid #50C8C6;
    border-radius: 5px;
    color: #000000;
}

.name{
    margin-top: -5%;
    margin-left: 20%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bio{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line{
    width:100%;
    height: 1px;
    background-color: aliceblue;
}

.pets-descrition{
    margin-left: 10%;
    margin-right: 20%;
    height: 800px;
    margin-top: 20px;
    color: #000000;
    font-size: 15px;
    background-color: aquamarine;
}

.navbar-right{
    margin-left: 80%;
    margin-top: -34%;
}

.nav-item {
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #50C8C6;
    border-radius: 5px;
  }
  
  .nav-link {
    margin-top: -20%;
    color: #0a0a0a;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding-top: 35px;
  }