<div class="container">
    <div class="hosting-details">
        <h1>Acompanhamento de Estadia</h1>
    </div>
    <div class="chat-section">
        <h2>Chat com o cuidador</h2>
        <div class="chat-area">
            <div *ngFor="let message of messageList">
                <div style="color: blue;" *ngIf="message.user['id'] == user.id">
                    <h4>{{message.user["first_name"]}}</h4>
                    <p>{{message.time_sent}}: {{message.content}}</p>
                </div>
                <div style="color: orange;" *ngIf="message.user['id'] != user.id">
                    <h4>{{message.user["first_name"]}}</h4>
                    <p>{{message.time_sent}}: {{message.content}}</p>
                </div>
            </div>
        </div>
        <div class="user-interaction text-right">
            <div class="input-group">
                <textarea class="form-control"></textarea>
            </div>
            <button type="button" class="btn btn-dark btn-sm">
                <a [routerLink]="['/admin-area/hosting/{{message.hosting}}']">Enviar</a>
            </button>
        </div>
    </div>
</div>