<div class="register">
  <div class="container">
    <div class="register-form input" [formGroup]="formRegister">

      <div class="col-md-12 text-center">
        <h2>Cadastro do Cliente</h2>
      </div>

      <div class="row g-3">

        <div class="col-md-5">
          <label>Nome</label>
          <input type="text" placeholder="Digite o seu nome" formControlName="firstName">
        </div>

        <div class="col-md-6">
          <label>Sobrenome</label>
          <input type="text" placeholder="Digite o seu sobrenome"  formControlName="lastName">
        </div>

        <div class="col-md-2">
          <label>Gênero</label>
          <select class="form-select" formControlName="gender">
            <option value="" disabled>Selecione</option>
            <option *ngFor="let gender of genderList" value="{{gender.nome}}">
              {{gender.nome}}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label>CPF</label>
          <input type="text" placeholder="Digite o seu CPF" formControlName="cpf" mask="000.000.000-00">
        </div>

        <div class="col-md-3">
          <label>Telefone</label>
          <input type="text" placeholder="Digite o seu telefone" formControlName="phone" mask="(00) 00000-0000">
        </div>

        <div class="col-md-3">
          <label>Data de Nascimento</label>
          <input type="text" placeholder="DD-MM-AAAA" formControlName=dateBirth mask="d0-M0-0000">
        </div>

        <div class="col-md-2">
          <label>CEP</label>
          <input type="text" placeholder="Digite o seu CEP" formControlName="cep" mask="00.000-000">
        </div>

        <div class="col-md-9">
          <label>Endereço</label>
          <input type="text" placeholder="Digite o seu Endereço" formControlName="address">
        </div>

        <div class="col-md-4">
          <label>Email</label>
          <input type="text" placeholder="Digite o seu email" formControlName="email">
        </div>

          <div class="col-md-4">
            <label>Senha</label>
            <div class="field-wrapper">
              <input [type]="isTextField ? 'text': 'password'" formControlName="password" placeholder="Digite a sua senha" autocomplete="off">
              <button type="button" class= "btn-icon" (click)="showPassword()" tabindex="-1">
                <em [class]="isTextField ? 'btn-icon eye' : 'btn-icon eye-slash'"></em>
               </button>
            </div>
          </div>

          <div class="col-md-4">
            <label>Confirme a senha</label>
            <div class="field-wrapper">
              <input [type]="isTextField ? 'text': 'password'" formControlName="password2" placeholder="Digite a sua senha" autocomplete="off">
              <button type="button" class= "btn-icon" (click)="showPassword()" tabindex="-1">
                <em [class]="isTextField ? 'btn-icon eye' : 'btn-icon eye-slash'"></em>
               </button>
            </div>
          </div>
        </div>

        <p class="error-msg" *ngIf="formRegister.get('password2').errors?.['mustMatch'] && (formRegister.get('password2').dirty || formRegister.get('password2').touched)">
          As senhas não conferem
        </p>

      <!-- <p class="error-msg" *ngIf="formRegister.get('password2').errors?.['required'] &&
          (formRegister.get('password2').dirty || formRegister.get('password2').touched)">
          Por favor, confirme a sua senha
      </p> -->



      <div class="col-md-12">
        <button class ="btn btn-custom default"(click)="registerClient()" [disabled]="formRegister.invalid"
          [class]="formRegister.invalid ? 'disabled ' : 'default'">
          Cadastrar
        </button>
      </div>

    </div>
  </div>
</div>

