.register{
  height: auto;
  margin: 0 -15px;
  justify-content: center;
  /* margin-top: 10mm; */
}

.register-form{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  /* background: #daf1ec; */
}

.register-form label {
  margin-top: 15px;
  width: 100%;
  font-weight: 500;
  color:black;
  line-height: 1;
  text-align: left;
}

.register-form input {
  width: 100%;
  height: 48px;
  color:black;
  background-color: rgb(249, 253, 237);
  border: 1px solid #BADA5F;
  border-radius: 4px;
  outline: none;
}

.container{
  width: 90%;
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  background: #daf1ec;
  border-radius: 6px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.form-select{
  border: 1px solid #BADA5F;
  background-color: rgb(249, 253, 237);
  width: 100%;
  height: 46px;
}

[class*='icone-']:before{
  display: inline-block;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Botao de mostrar a senha */
.btn-icon {
  background-color: rgb(250, 231, 224);
  width: 30px;
  height: 30px;
}

.btn {
  background-color: #c3ff00;
}
