<div class="register">
  <div class="container">
    <div class="register-form input" [formGroup]="formRegister">

      <div class="col-md-12 text-center">
        <h2>Cadastro do Cliente</h2>
      </div>

      <div class="col-md-4">
        <label>Nome</label>
        <input type="text" placeholder="Digite o seu nome" formControlName="firstName">
      </div>

      <div class="col-md-8">
        <label>Sobrenome</label>
        <input type="text" placeholder="Digite o seu sobrenome"  formControlName="lastName">
      </div>

      <div class="col-md-3">
        <label>Gênero</label>
        <select class="form-select" formControlName="gender">
          <option *ngFor="let gender of genderList" value="{{gender.nome}}">
            {{gender.nome}}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label>CPF</label>
        <input type="text" placeholder="Digite o seu CPF" formControlName="cpf" mask="000.000.000-00">
      </div>

      <div class="col-md-3">
        <label>Telefone</label>
        <input type="text" placeholder="Digite o seu número de telefone" formControlName="phone">
        <!-- verificar ngxPhoneMaskBr ngxmask não funciona -->
      </div>

      <div class="col-md-3">
        <label>CEP</label>
        <input type="text" placeholder="Digite o seu cep" formControlName="cep" mask="00.000-000">
      </div>

      <div class="col-md-12">
        <label>Endereço</label>
        <input type="text" placeholder="Digite o seu Endereço" formControlName="address">
      </div>

      <div class="col-md-12">
        <label>Data de Nascimento</label>
        <input type="text" placeholder="DD/MM/AAAA" formControlName=dateBirth mask="d0/M0/0000">
      </div>

      <div class="col-md-12">
        <label>Email</label>
        <input type="text" placeholder="Digite o seu email" formControlName="email">
      </div>

      <div class="col-md-12">
        <div class="field-wrapper">
          <input [type]="isTextField ? 'text': 'password'" formControlName="password" placeholder="Digite a sua senha" autocomplete="off">
          <button type="button" class="btn-icon" (click)="showPassword()" tabindex="-1">
            <em [class]="isTextField ? 'icone eye' : 'icone eye-slash' "></em>
          </button>
          <label>Senha</label>
        </div>
      </div>

      <div>
        <button class ="btn btn-custon default"(click)="cadastrarCliente()" [disabled]="formRegister.invalid"
          [class]="formRegister.invalid ? 'btn btn-custon disabled ' : 'btn btn-custon default'">
          Cadastrar Cliente
        </button>
      </div>

    </div>
  </div>
</div>
