<div class="hosting">
  <div class="container">
    <div class="hosting-form input" [formGroup]="formHosting">

      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Agendamento de Hospedagem</h2>
        </div>
  
        <div class="col-md-12">
          <label>Pet</label>
          <select class="form-select" formControlName="pet">
            <option value="" disabled>Selecione</option>
            <option value="1">Exemplo totó</option>
            <!-- <option *ngFor="let gender of genderList" value="{{gender.nome}}">
              {{gender.nome}}
            </option> -->
          </select>
        </div>
  
        <div class="col-md-6">
          <label>Check-in</label>
          <input type="text" placeholder="DD-MM-AAAA" formControlName=start_date  mask="d0-M0-0000">
        </div>
  
        <div class="col-md-6">
          <label>Check-out</label>
          <input type="text" placeholder="DD-MM-AAAA" formControlName=end_date  mask="d0-M0-0000">
        </div>
  
        <div class="col-md-12">
          <label>Observações</label>
          <input type="text" placeholder="Digite o seu CPF" formControlName="observations">
        </div>
  
        <div class="col-md-12">
          <label>Preço</label>
          {{0||formHosting.controls['cost'].value}}
        </div>

        <div class="col-md-12">
          <button class ="btn btn-custom default" (click)="makeHosting()" [disabled]="formHosting.invalid"
            [class]="formHosting.invalid ? 'btn btn-custom disabled ' : 'btn btn-custom default'">
            Cadastrar
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

