<div class="register">
  <div class="container">
    <div class="register-form input" [formGroup]="formHosting">

      <div class="col-md-12 text-center">
        <h2>Agendamento de Hospedagem</h2>
      </div>

      <div class="col-md-2">
        <label>Pet</label>
        <select class="form-select" formControlName="gender">
          <option value="" disabled>Selecione</option>
          <!-- <option *ngFor="let gender of genderList" value="{{gender.nome}}">
            {{gender.nome}}
          </option> -->
        </select>
      </div>

      <div class="col-md-3">
        <label>Check-in</label>
        <input type="text" placeholder="DD-MM-AAAA" formControlName=start_date mask="d0-M0-0000">
      </div>

      <div class="col-md-3">
        <label>Check-out</label>
        <input type="text" placeholder="DD-MM-AAAA" formControlName=end_date mask="d0-M0-0000">
      </div>

      <div class="col-md-3">
        <label>Observações</label>
        <input type="text" placeholder="Digite o seu CPF" formControlName="observations">
      </div>

      <div class="col-md-3">
        <label>Preço</label>
        $1000
      </div>

    </div>
  </div>
</div>

